<html>
	<head>
		<title>Wiktionary Search - IndexTank</title>
	</head>
	<script type='text/javascript'>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20516254-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script src='http://www.google.com/jsapi' type='text/javascript'></script> 
<script type='text/javascript'> 
var theme = "vader";
google.load("jquery", "1.4.4");
google.load("jqueryui", "1.8.7");
google.loader.writeLoadTag("css", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/" + theme + "/jquery-ui.css");
</script>

<script type='text/javascript'> 
var publicApiUrl = "http://dw6hr.api.indextank.com";
var indexName = "idx";
var elementId = "#query";
var remoteSource = publicApiUrl + "/v1/indexes/" + indexName + "/autocomplete";
</script> 

<script type='text/javascript'>
google.setOnLoadCallback(function() {
$(function() {
 
var sourceCallback = function( request, responseCallback ) {
 $.ajax( {
   url: remoteSource,
   dataType: "jsonp",
   data: { query: request.term },
   success: function( data ) { responseCallback( data.suggestions ); }
 } );
};
 
var selectCallback = function( event, ui ) { 
 event.target.value = ui.item.value;
 event.target.form.submit();
};
 
$( elementId ).autocomplete( {
 source: sourceCallback,
 minLength: 2,
 delay: 100,
 select: selectCallback
} );
 
}); // $ fun
}); // g callback
 
</script> 


<body>

<div id="logo">
	<a id="none" href="http://wikidex.heroku.com">Wiktionary Search</a> 
	<div id="search">
		<%= form_tag words_path, :method => :get do %>
  			<%= text_field_tag :query %> 
		<% end %>
	</div>
	<div id="brag">
		<p>:by => <a id="link" href="http://bhaaratman.heroku.com">Bhaarat Sharma</a>, :for => <a id = "link" href="http://blog.indextank.com/93/holiday-hacks-indextank-heroku/">IndexTank Contest</a>, :source => <a id = "link" href="https://github.com/Omnipresent/wordsearch">Omnipresent/wordsearch</a></p>
	</div>
</div>
<div id="content-out">
<div id="content">
<% if @docs %>
  <p id="result-count">Search for <b>"<%= removechars(params[:query]) %>"</b> returned <b><%= pluralize @docs['matches'], 'result' %></b> in <%=@docs['search_time']%> seconds</p>
<br><br>
	<%@docs['results'].each do |record|%>
		<div id="word">
		<a id="link_word" target="_blank" href="http://en.wiktionary.org/wiki/<%=record['searched_word']%>"><%=record['searched_word'].gsub('_',' ')%></a> <% if record['timestamp'] != nil%>- <%= Time.at(record['timestamp'].to_i).strftime("Indexed on %m/%d/%Y %r") %> <%end%>

		<!--<%=simple_format(record['snippet_text'].gsub('\n',''), :class=>"snippet") if record['snippet_text']!=nil%>-->
		<%= simple_format(addhighlights(record['text'].gsub(/\t/,'&nbsp;&nbsp;&nbsp;'), removechars(params[:query])))%>
		</div>	
	<%end%> 
<% else %>
	<div id="info">
		<br><br>
		<p id="heading">Purpose:</p>
		<p id="purpose">Search through words from <a href="http://en.wiktionary.com">Wiktionary</a></p>
		</br><br><br><br>
		<p id="heading">Use Case:</p>
		<p id="purpose">Find words by their definition.  Answer to: "What's that word that means _____?"</p>
		</br><br><br><br>
		<p id="heading">Features:</p>
			<ul id="recent">
				<li>word:&lt;exact_word&gt;</li>
				<li>autocomplete</li>
				<li>full text highlight</li>
				<li>timestamp search (coming soon)</li>
				<li>pagination (coming soon)</li>
			</ul>
		</br><br>
		<p id="heading">Recent Searches:</p>
		<p id="purpose">
			<%if @recent_searches%>
				<ol id="recent">
				<%@recent_searches.reverse.each do |recent|%>
					<li><a href="http://wikidex.heroku.com/words?query=<%=recent%>"><%=recent%></a></li>
				<%end%>
				</ol>
			<%end%>
		</p>
	</div>	
<% end %>
</div>
</div>
</body>
</html>
